version: '3.8'

networks:
  app-network:

volumes:
  app-logs:
  postgres-data:
  redis-data:

services:
  app:
    image: app-image:latest
    build:
      context: .
      dockerfile: ./docker/app.Dockerfile
    env_file:
      - .env
    environment:
      DATABASE_URL: 'postgresql://application:password@postgres:5432/application'
    networks:
      - app-network
    volumes:
      - app-logs:/tmp/app
    ports:
      - "8000:8000"
    command: ./entrypoint.sh
    depends_on:
      - postgres

  worker:
    image: worker-image:latest
    build:
      context: .
      dockerfile: ./docker/worker.Dockerfile
    env_file:
      - .env
    command: ./worker_entrypoint.sh
    depends_on:
      - redis
    networks:
      - app-network
    # ports:
    #   - 8001:8000

  postgres:
    image: postgres:16
    networks:
      - app-network
    restart: always
    environment:
      POSTGRES_USER: application
      POSTGRES_PASSWORD: password
    # ports:
    #   - '5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data:cached

  redis:
    image: redis:6
    networks:
      - app-network
    volumes:
      - redis-data:/data
    # ports:
      # - '6379:6379'
