version: '3.8'

# create a network for the services to communicate
networks:
  hxmx:

services:
  app:
    image: hxmx-app:latest
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    networks:
      - hxmx
    ports:
      - "8000:8000"
    command: ["python", "main.py"]
