/* PixelGrid.css */
.pixelGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
  height: 100%; /* Full height of its container */
  width: 100%; /* Full width of its container */
  overflow: hidden; /* In case of slight miscalculations */
  border: 1px solid red; /* Temporary border */
}

.pixel {
  position: relative;
  transition:
    transform 0.05s ease,
    background-color 0.05s ease;
  border-radius: 25%;
}

.pixel::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2px; /* Size of the white dot */
  height: 2px;
  background-color: rgb(188, 188, 188);
  border-radius: 50%;
}

.hovered {
  transform: scale(0.65); /* Adjust as needed */
  transition:
    transform 1.2s ease,
    background-color 1.2s ease;
  border-radius: 25%;
}
